:root{
    --primary-dark-cyan: #19a2ae;
    --primary-very-dark: #2d3248;
    --primary-dark-grayish: #6a6f81;

    --neutral-dark-gray: #969696;
    font-size: 18px;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Kumbh Sans", sans-serif;
    color: var(--primary-very-dark);
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: url("../images/bg-pattern-top.svg") right 50vw bottom 40vh no-repeat, url("../images/bg-pattern-bottom.svg") left 50vw top 50vh no-repeat var(--primary-dark-cyan);
}

.box{
    background-color: #fff;
    width: 350px;
    border-radius: 0.8rem;
    box-shadow: 10px 10px 30px rgba(50, 54, 75, 0.3);
}

.box::before{
    content: "";
    display: block;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    width: 100%;
    height: 140px;
    background: url("../images/bg-pattern-card.svg") top/cover no-repeat;
}

.box-name{
    text-align: center;
    position: relative;
    height: 150px;
    display: flex;
    border-bottom: 1px solid var(--neutral-dark-gray);
}

.box-name img{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 5px solid #fff;
    position: absolute;
    bottom: 45%;
    left: 50%;
    transform: translate(-50%, -35%);
}

.box-name-text{
    width: 100%;
    position: relative;
    top: 50%;
}

.box-name p.text-bold{
    margin-bottom: 10px;
}

.box-stats{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.box-stats div{
    padding: 1.5rem 0.8rem;
}

.box-stats p.font-small{
    margin-top: 5px;
}

.text-bold{
    color: var(--primary-very-dark);
    font-weight: 700;
}

.text-bold span {
    font-weight: 400;
    margin-left: 5px;
    color: var(--neutral-dark-gray);
}

.font-medium{
    font-size: 14px;
    color: var(--neutral-dark-gray)
}

.font-small{
    font-size: 12px;
    color: var(--neutral-dark-gray);
}

@media (max-width: 425px){
    .container{
        background: url("../images/bg-pattern-top.svg") right 43vw bottom 38vh no-repeat, url("../images/bg-pattern-bottom.svg") left 38vw top 40vh no-repeat var(--primary-dark-cyan);
    }
    .box{
        width: 80%;
    }
}