:root{
    --primary-dark-cyan: #19a2ae;
    --primary-very-dark: #2d3248;
    --primary-dark-grayish: #6a6f81;

    --neutral-dark-gray: #969696;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;
    color: var(--primary-very-dark);
}

.container{
    overflow: hidden;
    background-color: var(--primary-dark-cyan);
    position: relative;
    width: 100vw;
    height: 100vh;
}

.container::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/bg-pattern-top.svg") center/contain no-repeat;
    position: absolute;
    bottom: 47%;
    right: 30%;
}

.container::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/bg-pattern-top.svg") center/contain no-repeat;
    position: absolute;
    top: 51%;
    left: 30%;
}

.box{
    background-color: #fff;
    width: 350px;
    border-radius: 0.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 30px rgba(50, 54, 75, 0.3);
}

.box::before{
    content: "";
    display: block;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    width: 100%;
    height: 140px;
    background: url("../images/bg-pattern-card.svg") top/cover no-repeat;
}

.box-name{
    text-align: center;
    position: relative;
    height: 150px;
    border-bottom: 1px solid var(--neutral-dark-gray);
}

.box-img{
    position: absolute;
    bottom: 45%;
    left: 50%;
    transform: translate(-50%, -20%);
    border-radius: 50%;
}
.box-img img{
    width: 96px;
    height: 96px;
    top: 0;
    border-radius: 50%;
    border: 5px solid #fff;
}

.box-name-text{
    width: 100%;
    position: relative;
    top: 55%;
}

.box-name p.text-bold{
    margin-bottom: 10px;
}

.box-stats{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.box-stats div{
    padding: 1.5rem 0.8rem;
}

.box-stats p.font-small{
    margin-top: 5px;
}

.text-bold{
    color: var(--primary-very-dark);
    font-weight: 700;
}

.text-bold span {
    font-weight: 400;
    margin-left: 5px;
    color: var(--neutral-dark-gray);
}

.font-medium{
    font-size: 14px;
    color: var(--neutral-dark-gray)
}

.font-small{
    font-size: 12px;
    color: var(--neutral-dark-gray);
}

@media (max-width: 425px){
    .box{
        width: 80%;
    }
}